
.image {
  width: 33%;
  float: left;
  padding: 10px;
}

.sidebar {
  width: 33%;
  text-align: center;
  border: 2px solid grey;
  padding: 10px;
  float: right;
  background-color: #EFEEE9;
}

.column {
  clear: left;
  padding-top: 30px;
}

img {
  border: 2px solid grey;
}
